.easy-divider {
  position: relative;
  display: flex;
  align-items: center;
  margin: 16px 0;
  border-top: 1px solid var(--el-border-color);
  box-sizing: border-box;
}

.easy-divider--vertical {
  display: inline-flex;
  height: 1em;
  margin: 0 8px;
  border-top: none;
  border-left: 1px solid var(--el-border-color);
}

.easy-divider__text {
  position: absolute;
  background: var(--el-bg-color);
  padding: 0 16px;
  font-size: 13px;
  font-weight: 500;
  color: var(--el-text-color-secondary);
  line-height: 1;

  &--left {
    left: 20px;
  }
  &--center {
    left: 50%;
    transform: translateX(-50%);
  }
  &--right {
    right: 20px;
  }
}
