/* Xly 描述列表 Dark 模式 */
html.dark {
  // ===================== xly-descriptions =====================
  .xly-descriptions__title {
    color: var(--el-text-color-primary);

    &::before {
      background: var(--el-color-primary);
    }
  }

  .xly-descriptions__extra {
    color: var(--el-text-color-secondary);
  }

  .xly-descriptions__label {
    .label-icon {
      color: var(--el-text-color-placeholder);
    }

    .label-text {
      color: var(--el-text-color-secondary);
    }
  }

  .xly-descriptions__content {
    color: var(--el-text-color-regular);
  }

  .xly-descriptions__label--vertical .label-text {
    color: var(--el-text-color-secondary);
  }

  .xly-descriptions__label--vertical .label-icon {
    color: var(--el-text-color-placeholder);
  }

  .xly-descriptions__content--vertical {
    color: var(--el-text-color-regular);
  }

  // 水平 · 无边框
  .xly-descriptions--horizontal:not(.is-bordered) {
    .xly-descriptions__body {
      border-color: var(--el-border-color-light);
    }

    .xly-descriptions__label {
      background: var(--el-fill-color-lighter);
      border-right-color: var(--el-border-color-light);
    }

    .xly-descriptions__row {
      &:not(:last-child) td {
        border-bottom-color: var(--el-border-color-light);
      }

      td + td + td {
        border-left-color: var(--el-border-color-light);
      }
    }
  }

  // 水平 · 有边框
  .xly-descriptions--horizontal.is-bordered {
    .xly-descriptions__body {
      border-color: var(--el-border-color);
    }

    .xly-descriptions__label {
      background: var(--el-fill-color-lighter);
      border-right-color: var(--el-border-color);
    }

    .xly-descriptions__row {
      &:not(:last-child) td {
        border-bottom-color: var(--el-border-color);
      }

      td + td {
        border-left-color: var(--el-border-color);
      }
    }
  }

  // 垂直 · 无边框
  .xly-descriptions--vertical:not(.is-bordered) {
    .xly-descriptions__body {
      border-color: var(--el-border-color-light);
    }

    .xly-descriptions__item {
      border-right-color: var(--el-border-color-light);
      border-bottom-color: var(--el-border-color-light);
    }
  }

  // 垂直 · 有边框
  .xly-descriptions--vertical.is-bordered {
    .xly-descriptions__body {
      border-color: var(--el-border-color);
    }

    .xly-descriptions__item {
      border-right-color: var(--el-border-color);
      border-bottom-color: var(--el-border-color);

      .xly-descriptions__label--vertical {
        background: var(--el-fill-color-lighter);
        border-bottom-color: var(--el-border-color);
      }
    }
  }
}
